body{
    background-color: #EDE8f5;
}
button{
    background-color: #ADBBDA;
}

[hidden]{
    display: none !important;
}
.items{
    height:  100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 20px;
    /* text-align: left; */
    display: inline;
}
.checkbox{
    width: auto;
    height: auto;
    padding-left: 50px;
}
form{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    display: flex;
    justify-content: space-evenly;
}
.deleteBox{
    width: auto;
    margin: auto 20px;
}
.ip{
    border-radius: 8px;
    padding: 10px;
    border: 1px;
    background-color: #aab6d5;
}

.editButton{
    /* height: 20px;
    width: 20px; */
    border: none;
    background-color: #ADBBDA;
    border-radius: 8px;  
    margin-right: 20px;
    text-align: center;
}

.elt{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid ;
}
h1{
    width: 40%;
    text-align: center;
    border: 2px solid purple;
    padding-top: 10px;
    padding-bottom: 20px;
}
.list{
    width: 40%;
    height: auto;
    text-align: center;
    border: 2px solid purple;
}
